<div ng-controller="MainCtrl">

    <form class="form-inline">
        <h4>Lookup for a postcode</h4>
        <div class="form-group api">
            <h4>
            <span class="badge">GET</span>
            <span>api.postcodes.co.uk/postcodes/</span>
            <input type="text"
                   class="form-control param"
                   ng-model="postcode"
                   name="postcode"
                   placeholder=":postcode">

            <button ng-click="lookup(postcode)"
                    ng-init=""
                    type="submit"
                    class="btn btn-default pull-right">Request</button>
            </h4>
        </div>
    </form>

    <br>

    <!--div ng-model="response">
        <pre>{{response.data | json}}</pre>
    </div-->

    <div hljs hljs-source="data" hljs-language="json"> </div>

</div>
