<div ng-controller="MainCtrl">

    <form class="form-inline">
        <h4>Lookup for a postcode</h4>
        <div class="api">
            <h4>
            <span class="badge">GET</span>
            <span>api.postcodes.co.uk/postcodes/</span>
            <input type="text"
                   class="form-control param"
                   ng-model="postcode"
                   name="postcode"
                   placeholder=":postcode">

            <button ng-click="lookup(postcode); show=true"
                    ng-model="show"
                    type="submit"
                    class="btn btn-default pull-right">Request</button>
            </h4>
        </div>
    </form>

    <br>

    <!--div ng-model="response">
        <pre>{{response.data | json}}</pre>
    </div-->
    <div ng-show="show" class="ng-cloak animate-show" ng-click="show=false">
        <div hljs hljs-source="data" hljs-language="http"></div>
    </div>

</div>
